@(user: User)
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Checkout Page</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/checkout.css")">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome-4.6.3/css/font-awesome.min.css")">
		<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header>
            <div class="nav">
                <ul>
                    <li><a href="/success">Home</a></li>
                    <li><a href="/sales">Sale</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#"><i class="fa fa-user fa-fw fa-lg"></i> <i class="fa fa-cog fa-spin fa-lg" aria-hidden="true"></i> <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></a>
                        <ul>
                            <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Profile</a></li>
                            <li><a href="/"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>

		<div class="checkoutbanner">
			<h5 class="checkoutheader"><span>Shopping Bag</span></h5>
		</div>

		<div class="container">
			<div class="row">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
					    <div class="panel-heading" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" id="textdec" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseone">
									<strong>Your Cart</strong>
								</a>
							</h4>
						</div>
						<div id="collapseone" class="panel-collapse collapse in">
							<div class="panel-body">
								<table class="table table-striped">
									<tr>
						                <th class="col-md-8">Item Name</th>
						                <th class="col-md-2">Price</th>
										<th>Sale Price</th>
						            </tr>
                                    @for(item <- user.getCart()) {
    									<tr>
    						                <td>@item.name<br>ID: @item.id</td>
    						                <td>$@item.price</td>
											@if(item.salePrice > 0.0) {
												<td>$@item.salePrice</td>
											} else {
												<td>N/A</td>
											}

    						            </tr>
                                    }
								</table>
								<table class="table">
									<tr>
						                <td class="col-md-8"></td>
						                <td class="col-md-1"></td>
										<th>Total: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@user.getTotal()</th>
						            </tr>
								</table>

								<input type="button"
								id="btnone" data-toggle="collapse" data-parent="#accordion" href="#collapstwo" value="Continue to Transaction">
							</div>
						</div>
					</div>
					<div class="panel panel-default">
					    <div class="panel-heading" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" id="textdec" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapstwo">
									<strong>Transaction</strong>
								</a>
							</h4>
						</div>
						<div id="collapstwo" class="panel-collapse collapse">
							<div class="panel-body">
								<form method="post" action="/transaction" class="col-xs-12">
									<div class="form-group">
										<label>Name</label>
                                        <input type="text" name="buyer" placeholder="Buyer Name" required="required" class="form-control">
									</div>

									<div class="form-group">
										<label>Transaction ID</label>
                                        <input type="text" name="tranID" placeholder="Transaction Number" class="form-control" required="required">
									</div>

                                    <div class="form-group">
										<label>Buyer ID</label>
                                        <input type="text" name="buyerID" placeholder="Buyer ID" class="form-control" required="required">
									</div>

									<h3>Payment Method</h3>

									<div class="form-group">
										<label>Cash</label>
										<input type="number" name="cash" min="0.0" placeholder="$$ pay by cash" class="form-control" required="required">
									</div>
									<div class="form-group">
										<label>Card or check</label>
										<input type="number" name="card" min="0.0" placeholder="$$ pay by card or check" class="form-control" required="required">
									</div>

									<input type="submit" value="CREATE" id="btntwo">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
